* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

body {
    background-color: brown;
    direction: rtl;
    color: white;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

#myForm,
div#salaryForm,
button#calculate, 
div#salaryResult {
    display: block;
    width: 351px;
    margin: 20px auto;
    text-align: center;
}

div#salaryForm > span,
div#salaryForm > input,
div#salaryResult > span,
div#salaryResult > input {
    text-align: center;
    font-size: 23px;
    display: block;
    width: 100%
}

.day {
    margin: 5px;
}

.dayNumber {
    display: inline-block;
    width: 20px;
}

.dayStart, .dayEnd {
    display: inline-block;
    width: 20px;
    text-align: center;
}

.dayTotal {
    display: inline-block;
    width: 30px;
    text-align: center;
}

input[type=time] {
    width: 72px;
}

.alert {
    display: inline-block;
    width: 27px;
    text-align: center;
}

button#calculate {
    font-size: 25px;
    border-radius: 5px;
}