* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: CadetBlue;
    direction: rtl;
    color: Black;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

#myForm,
div#salaryForm,
button#calculate, 
div#salaryResult {
    display: block;
    width: 340px;
    margin: 20px auto;
    text-align: center;
}

div#salaryForm > span,
div#salaryForm > input,
div#salaryResult > span,
div#salaryResult > input {
    text-align: center;
    font-size: 23px;
    display: block;
    width: 100%;
}

div#salaryForm > span,
div#salaryResult > span {
    font-weight: 700;
}

.day {
    margin: 5px 0;
}

.day.invalidDates > input {
    background-color: red;
    color: white;
}

.dayNumber {
    display: inline-block;
    width: 22px;
}

.dayStart, .dayEnd {
    display: inline-block;
    width: 22px;
    text-align: center;
}

.dayTotal {
    display: inline-block;
    width: 32px;
    text-align: center;
}

input {
    width: 72px;
}

button#calculate {
    background-color: silver;
    color: black;
    font-size: 25px;
    border-radius: 5px;
}