.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
}

.title {
    margin-top: 30px;
}

.table {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.table thead {
    border-bottom: 1px solid #fff;
}

.container button {
    margin-top: 20px;
    width: 50%;
}

.container button img {
    margin-right: 10px;
}

.container .delete-btn {
    border-color: #bb0a21;
    color: #bb0a21
}

.container .delete-btn:active {
    background-color: #bb0a21;
    color: #fff;
}

.total {
    border: 1px solid #fdc322;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 20px 0;
}

.no-data {
    margin: 20px 0;
}

.back-btn {
    position: absolute;
    top: 15px;
    left: 0;
}

.input-container {
    margin: 10px 0;
    width: 80%;
}

.input-container label {
    display: block;
}

.input-container input {
    width: 100%;
    line-height: 20px;
    font-size: 20px;
}